@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 1400px;
    height: 800px;
    opacity: 0.5;
}

.black-container {
    background-color: black;
    width: 1400px;
    height: 800px;
}

body h1 {
    position: relative;
    bottom: 750px;
    left: 10px;
    color: whitesmoke
}

#Register {
    position: relative;
    padding: 20px 0;
    left: 400px;
    top: -700px;
    border: 3px solid black;
    width: 40%;
}

#Register input {
    margin-top: 30px;
    padding: 8px;
    width: 400px;
    margin-left: 70px;
}

#Register h2 {
    margin-left: 200px;
    color: white;
}

#Register .btns {
    margin-left: 100px;
}

#Register button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 60px;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}